<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{presentation/fragments :: head('Acceso denegado')}"></head>
<body>
<header th:replace="~{presentation/fragments :: header}"></header>
<nav    th:replace="~{presentation/fragments :: nav}"></nav>
<main>
    <div class="form w50 error">
        <p>No tiene permiso para acceder a esta página.</p>
        <a th:href="@{/publica/inicio}" class="button">Volver al inicio</a>
    </div>
</main>
<footer th:replace="~{presentation/fragments :: footer}"></footer>
</body>
</html>