<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{presentation/fragments :: head('Registro de empresa')}"></head>
<body>
<header th:replace="~{presentation/fragments :: header}"></header>
<nav    th:replace="~{presentation/fragments :: nav}"></nav>
<main>
    <div class="form w50">
        <form method="POST" action="/registro/empresa">
            <div class="section">Datos de acceso</div>
            <div>
                <div class="label">Correo</div>
                <div class="field">
                    <input type="email" name="correo" th:value="${usuario.correo}"/>
                </div>
            </div>
            <div>
                <div class="label">Clave</div>
                <div class="field">
                    <input type="password" name="clave"/>
                </div>
            </div>

            <div class="section">Datos de la empresa</div>
            <div>
                <div class="label">Nombre</div>
                <div class="field">
                    <input type="text" name="nombre" th:value="${empresa.nombre}"/>
                </div>
            </div>
            <div>
                <div class="label">Localización</div>
                <div class="field">
                    <input type="text" name="localizacion" th:value="${empresa.localizacion}"/>
                </div>
            </div>
            <div>
                <div class="label">Teléfono</div>
                <div class="field">
                    <input type="text" name="telefono" th:value="${empresa.telefono}"/>
                </div>
            </div>
            <div>
                <div class="label">Descripción</div>
                <div class="field">
                    <textarea name="descripcion" rows="3" th:text="${empresa.descripcion}"></textarea>
                </div>
            </div>
            <div class="section">
                <input type="submit" value="Registrarse" class="button"/>
            </div>
        </form>
    </div>
    <a th:href="@{/login}" class="button">¿Ya tiene cuenta? Ingrese aquí</a>
</main>
<footer th:replace="~{presentation/fragments :: footer}"></footer>
</body>
</html>