<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{presentation/fragments :: head('Registro de oferente')}"></head>
<body>
<header th:replace="~{presentation/fragments :: header}"></header>
<nav    th:replace="~{presentation/fragments :: nav}"></nav>
<main>
    <div class="form w50">
        <form method="POST" action="/registro/oferente">
            <div class="section">Datos de acceso</div>
            <div>
                <div class="label">Correo</div>
                <div class="field">
                    <input type="email" name="correo" th:value="${usuario.correo}"/>
                </div>
            </div>
            <div>
                <div class="label">Clave</div>
                <div class="field">
                    <input type="password" name="clave"/>
                </div>
            </div>

            <div class="section">Datos personales</div>
            <div>
                <div class="label">Identificación</div>
                <div class="field">
                    <input type="text" name="identificacion" th:value="${oferente.identificacion}"/>
                </div>
            </div>
            <div>
                <div class="label">Nombre</div>
                <div class="field">
                    <input type="text" name="nombre" th:value="${oferente.nombre}"/>
                </div>
            </div>
            <div>
                <div class="label">Primer apellido</div>
                <div class="field">
                    <input type="text" name="primerApellido" th:value="${oferente.primerApellido}"/>
                </div>
            </div>
            <div>
                <div class="label">Nacionalidad</div>
                <div class="field">
                    <input type="text" name="nacionalidad" th:value="${oferente.nacionalidad}"/>
                </div>
            </div>
            <div>
                <div class="label">Teléfono</div>
                <div class="field">
                    <input type="text" name="telefono" th:value="${oferente.telefono}"/>
                </div>
            </div>
            <div>
                <div class="label">Lugar de residencia</div>
                <div class="field">
                    <input type="text" name="lugarResidencia" th:value="${oferente.lugarResidencia}"/>
                </div>
            </div>
            <div class="section">
                <input type="submit" value="Registrarse" class="button"/>
            </div>
        </form>
    </div>
    <a th:href="@{/login}" class="button">¿Ya tiene cuenta? Ingrese aquí</a>
</main>
<footer th:replace="~{presentation/fragments :: footer}"></footer>
</body>
</html>